/* vim: set sw=8 ts=8 tw=100 fenc=utf8 : */
/*
 * TunTap website stylesheet
 *
 * Copyright 2008, 2009 Mattias Nissler <mattias.nissler@gmx.de>
 */

html {
	margin: 0;
	padding: 0;
	background: #8ed736 url(img/bg.png);
}

body {
	margin: 0;
	padding: 0;
	background: url(img/bg_header.png) repeat-x top left;
	font-family: Helvetica, sans-serif;
}

#container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 720px;
}

#title {
	position: absolute;
	background: transparent url(img/tuntap.png) no-repeat;
	left: 0px;
	top: 50px;
	width: 270px;
	height: 60px;
	z-index: 10;
}

#subtitle {
	position: absolute;
	background: transparent url(img/subtitle.png) no-repeat;
	left: 10px;
	top: 110px;
	width: 405px;
	height: 25px;
	z-index: 10;
}

#plug {
	position: absolute;
	background: transparent url(img/plug.png) no-repeat;
	left: 610px;
	top: 20px;
	width: 140px;
	height: 240px;
	z-index: 10;
}

#container #top {
	position: relative;
	height: 100px;
}

#container #top div.left {
	background: transparent url(img/box_tl.png) no-repeat bottom;
	position: absolute;
	height: 100px;
	width: 10px;
	left: 0px;
}

#container #top div.center {
	background: transparent url(img/box_t.png) repeat-x bottom;
	position: absolute;
	height: 100px;
	width: 700px;
	left: 10px;
}

#container #top div.right {
	background: transparent url(img/box_tr.png) no-repeat bottom;
	position: absolute;
	height: 100px;
	width: 10px;
	left: 710px;
}

#container #header {
	position: relative;
	height: 85px;
}

#container #header div.left {
	background: transparent url(img/box_l.png) repeat-y;
	position: absolute;
	height: 85px;
	width: 10px;
	left: 0px;
}

#container #header div.center {
	background: transparent url(img/box_header.png) repeat-x;
	position: absolute;
	height: 85px;
	width: 700px;
	left: 10px;
}

#container #header div.right {
	background: transparent url(img/box_r.png) repeat-y;
	position: absolute;
	height: 85px;
	width: 10px;
	left: 710px;
}

#container #main {
	position: relative;
	height: auto;
}

#container #main div.left {
	background: transparent url(img/box_l.png) repeat-y;
	position: absolute;
	height: 100%;
	width: 10px;
	left: 0px;
}

#container #main div.center {
	background: white;
	margin: 0px 10px 0px 10px;
	height: auto;
	width: 700px;
}

#container #main div.right {
	background: transparent url(img/box_r.png) repeat-y;
	position: absolute;
	height: 100%;
	width: 10px;
	left: 710px;
}

#container #bottom {
	position: relative;
	height: 10px;
}

#container #bottom div.left {
	background: transparent url(img/box_bl.png);
	position: absolute;
	height: 10px;
	width: 10px;
	left: 0px;
}

#container #bottom div.center {
	background: transparent url(img/box_b.png) repeat-x;
	position: absolute;
	height: 10px;
	width: 700px;
	left: 10px;
}

#container #bottom div.right {
	background: transparent url(img/box_br.png);
	position: absolute;
	height: 10px;
	width: 10px;
	left: 710px;
}

div.content {
	background-color: white;
	padding: 10px 15px 10px 15px;
	min-height: 200px;
	margin: 0px 10px 0px 20px;
	text-align: justify;
}

div.navigation {
	padding: 0px;
	text-align: center;
}

div.navigation a {
	padding: 0px 10px 0px 10px;
}

#fineprint {
	margin: 0px 10px 0px 10px;
	font-weight: normal;
}

#sourceforge-logo {
	margin-left: 10px;
	float: right;
}

img {
	border: 0px;
}

h1, h2, h3, h4, h5, h6 {
	color: #39009e;
}

div.content h1 {
	margin-left: -20px;
}

a:link, a:visited {
	font-weight: bold;
	text-decoration: underline;
	color: #39009e;
}

a:hover, a:active {
	font-weight: bold;
	text-decoration: underline;
	color: #ff8531;
}

